/* THE LOGOS HERE ARE ADJUSTED FOR THE FOOTER PAGE */

/* GitHub */
.footer-logo .css-github {
    --css-github-color: var(--footer-text-color);
    --css-github-cat-color: var(--footer-color);
}

.footer-logo .css-github .body .tail {
    box-shadow: -1px 1px 0 0.6px var(--css-github-cat-color);
}

/* LinkedIn */
.footer-logo .css-linkedin {
    --css-linkedin-color: var(--footer-text-color);
    --css-linkedin-text-color: var(--footer-color);
    border-radius: 50%;
}

.footer-logo .css-linkedin .text {
    font-size: 1.9rem;
}

/* Pixilart */
.footer-logo .css-pixilart{
    --css-pixilart-color: var(--footer-text-color);
    --css-pixilart-pixel-color: var(--footer-color);
}

@media screen and (min-width:600px) {
    .footer-logo .css-github:hover {
        --css-github-color: var(--body-color);
        --css-github-cat-color: var(--footer-text-color);
    }

    .footer-logo .css-linkedin:hover {
        --css-linkedin-color: var(--body-color);
        --css-linkedin-text-color: var(--footer-text-color);
    }

    .footer-logo .css-pixilart:hover{
        --css-pixilart-color: var(--body-color);
        --css-pixilart-pixel-color: var(--footer-text-color);
    }
}