footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60%;
    text-align: center;
    margin-top: 3.125rem;
    background: var(--footer-color);
    color: var(--footer-text-color);
}

footer>* {
    margin-top: 1.563rem;
}

.footer-table {
    width: 80%;
    border-collapse: collapse;
    vertical-align: center;
}

.footer-table th {
    font-size: 0.75rem;
}

.footer-table tr {
    height: 1.875rem;
}

/* Select just the first 2 elements */
.footer-table th:nth-child(-n + 2),
.footer-table td:nth-child(-n + 2) {
    width: 33%;
    border-right: 0.125rem solid var(--shadow-color);
}

.footer-text {
    margin-bottom: 1.563rem;
}

footer a {
    text-decoration: none;
    color: var(--light-color);
}

@media screen and (min-width: 600px) {
    footer {
        transition: all 0.5s ease;
    }

    footer:hover {
        box-shadow: 0px -0.313rem 0.625rem var(--shadow-color);
    }
}