footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem 0rem 2rem;
    margin-top: 3rem;
    font-size: 60%;
    text-align: center;
    background-color: var(--footer-color);
    color: var(--footer-text-color);
}

.footer-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    border-collapse: collapse;
}

.footer-table .col {
    display: grid;
    gap: 1rem;
}

/* Columns Borders */
.footer-table .col:nth-child(1) {
    border-right: 0.125rem solid var(--shadow-color);
}

/* Social Media Logos */
.footer-logos {
    display: flex;
    justify-content: center;
    gap: 2rem
}

.footer-logo {
    width: 2.5rem;
    height: 2.5rem;
}

.footer-text {
    margin-bottom: 1.563rem;
}

footer a {
    text-decoration: none;
    color: var(--light-color);
}

@media screen and (min-width: 600px) {
    /* Bar Shadow Animation */
    footer {
        transition: all 0.5s ease;
    }

    footer:hover {
        box-shadow: 0px -0.313rem 0.625rem var(--shadow-color);
    }
}