:root {
    --picture-container-size: 25rem;

    /* Genre Text Accent Colors */
    --genre-2d-color: linear-gradient(to bottom, yellow, rgb(100, 100, 1));
    --genre-web-color: linear-gradient(to bottom, cyan, rgb(0, 87, 87));
    --genre-puzzle-color: linear-gradient(to bottom, white, rgb(48, 48, 48));
}

.home-pictures {
    display: grid;
}

.home-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.6rem;
}

.home-picture {
    max-width: 90%;
    object-fit: contain;
    box-shadow: 0 0 0.625rem 0.625rem var(--color-medium);
    border-radius: 0.313rem;
}

.home-picture-text-container .genres {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8rem;
    margin: 0.8rem;
}

.home-picture-container .genres li {
    padding: 0.5rem;
    border-radius: 0.9rem;
}

/* Genre Text Accents Colors */
.genre-2d {
    background: var(--genre-2d-color);
}

.genre-web {
    background: var(--genre-web-color);
}

.genre-puzzle {
    background: var(--genre-puzzle-color);
}

.home-picture-container .text {
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

/* Desktops only */
@media screen and (min-width: 600px) {
    .home-pictures {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .home-picture-container {
        width: 35%;
    }
}

.css-container {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 0.625rem;
}

.css-container>div {
    filter: drop-shadow(0 0 1.875rem var(--shadow-color));
}