:root {
    --picture-container-size: 25rem;

    /* Genre Text Accent Colors */
    --genre-2d-color: linear-gradient(to bottom, yellow, rgb(100, 100, 1));
    --genre-web-color: linear-gradient(to bottom, cyan, rgb(0, 87, 87));
    --genre-puzzle-color: linear-gradient(to bottom, white, rgb(48, 48, 48));
    --genre-pixelart-color: linear-gradient(to bottom, orange, green);
    --genre-shooter-color: linear-gradient(to bottom, orange, red);
    --genre-unity-color: linear-gradient(to bottom, white, black 60%);
    --genre-sidescroller-color: linear-gradient(to bottom, cyan, blue);
    --genre-arcade-color: linear-gradient(to bottom, rgb(247, 62, 207), rgb(12, 4, 124));

    /* Links */
    --project-link-color: purple;
    --project-link-hover-color: white;
    --project-play-text-color: white;
    --project-play-text-hover-color: var(--project-link-color);
    --project-play-background-color: var(--color-medium);
    --project-play-background-hover-color: white;
}

.home-pictures {
    display: grid;
}

.home-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5rem;
    font-size: 0.6rem;
}

.home-picture {
    position: relative;
    max-width: 90%;
    object-fit: contain;
    box-shadow: 0 0 0.625rem 0.625rem var(--color-medium);
    border-radius: 0.313rem;
}

.home-picture-text-container {
    margin-top: 1rem;
}

.home-picture-text-container .genres {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8rem;
    margin: 0.8rem;
}

.home-picture-container .genres li {
    padding: 0.5rem;
    border-radius: 0.9rem;
}

/* Genre Text Accents Colors */
.genre-2d {
    background: var(--genre-2d-color);
}

.genre-web {
    background: var(--genre-web-color);
}

.genre-puzzle {
    background: var(--genre-puzzle-color);
}

.genre-pixelart {
    background: var(--genre-pixelart-color);
}

.genre-shooter {
    background: var(--genre-shooter-color);
}

.genre-unity {
    background: var(--genre-unity-color);
}

.genre-sidescroller {
    background: var(--genre-sidescroller-color);
}

.genre-arcade {
    background: var(--genre-arcade-color);
}

.home-picture-container .text {
    font-size: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

.project-link {
    display: block;
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    transition: all 250ms linear;
}

.project-link:link,
.project-link:visited {
    color: var(--project-link-color);
}

.project-link.play {
    display: none;
    align-self: flex-end;
    text-decoration: none;
    width: 33%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 100vw;
    background: var(--project-play-background-color);
    color: var(--project-play-text-color);
}

.project-link.play.phone {
    display: block;
}

/* Hide Private Link */
.project-link.private,
.project-link.none {
    display: none;
}

/* Desktops only */
@media screen and (min-width: 600px) {
    .home-pictures {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 7rem;
        row-gap: 2rem;
    }

    .home-picture-container {
        width: 35%;
        margin-bottom: 0;
    }

    /* TODO: From picture to gif */
    .home-picture {
        transition: all 250ms linear;
    }

    .home-picture:hover {
        transform: scale(1.1);
    }

    .project-link:hover:not(.play) {
        color: var(--project-link-hover-color);
        font-size: 110%;
    }

    .project-link.play.pc {
        display: block;
    }

    .project-link.play:hover{
        color: var(--project-play-text-hover-color);
        background-color: var(--project-play-background-hover-color);
        transform: scale(1.1);
        filter: drop-shadow(0 0.0 1rem var(--shadow-color));
    }

}

.css-container {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 0.625rem;
}

.css-container>div {
    filter: drop-shadow(0 0 1.875rem var(--shadow-color));
}

.css-text {
    font-size: 0.8rem;
}