/* --- NAVIGATION BAR --- */

:root {
    --nav-color: var(--color-medium);
    --nav-text-color: var(--color-light);
    --nav-underline-color: white;
    --nav-underline-active-color: white;
    --nav-underline-active-color: var(--shadow-color);
    --nav-animation-time: 300ms;
    --nav-text-animation-time: 250ms;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 1;
}

nav.main {
    background-color: var(--nav-color);
}

nav.main li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

nav.main .extended {
    display: none;
    gap: 1.4rem;
}

nav.main .extended a {
    scale: 0.8;
}

.nav-container ul {
    display: flex;
    list-style: none;
}

.nav-container a {
    position: relative;
    text-decoration-line: none;
    color: var(--nav-text-color);
    font-size: 0.8rem;
    font-weight: bold;
}

/* --- DESKTOPS ONLY --- */
@media screen and (width >=600px) {
    .nav-container {
        width: 100vw;
    }

    .nav-checkbox,
    .css-menu-button {
        display: none;
    }

    nav.main {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0.5rem 1rem;
        transition: all var(--nav-animation-time) ease;
    }

    .nav-container:hover nav.main {
        box-shadow: 0 0.3rem 0.5rem var(--shadow-color);
    }

    .nav-container:hover .extended {
        display: grid;
        justify-items: center;
        transition: all var(--nav-animation-time) ease;
    }

    nav.main ul {
        justify-content: flex-end;
    }

    nav.main li {
        margin: 1rem 1.5rem;
        min-width: 9rem;
        /* Needed as the list below shifts everything to the left*/
    }

    /* Selection Underlining */
    nav.main a::after {
        content: '';
        position: absolute;
        bottom: -0.6rem;
        left: 50%;
        width: 0%;
        height: 15%;
        background-image: linear-gradient(to right, var(--color-medium), var(--nav-underline-color), var(--color-medium));
        transition: all var(--nav-text-animation-time) linear;
    }

    nav.main a:hover::after {
        width: 100%;
        left: 0%;
    }

    nav.main a.active::after {
        width: 100%;
        left: 0%;
        background-image: linear-gradient(to right, var(--color-medium), var(--nav-underline-active-color), var(--color-medium));
    }
}

/* --- PHONES/TABLETS ONLY --- */
@media screen and (width < 600px) {

    .nav-checkbox,
    .css-menu-button {
        margin: 0.625rem;
    }

    nav.main {
        display: none;
        width: var(--css-menu-button-size);
        height: var(--css-menu-button-size);
        border-top-right-radius: 1.875rem;
        filter: drop-shadow(0.625rem 0px 0.313rem var(--shadow-color));
    }

    nav.main ul {
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        text-align: center;
        margin-top: 2.5rem;
    }

    nav.main li {
        margin: 0.625rem 0 0.938rem 0;
    }

    nav.main .extended {
        display: grid;
        justify-items: center;
    }

    /* --- NAVIGATION CHECKBOX BUTTON --- */
    .nav-checkbox {
        position: fixed;
        appearance: none;
        width: var(--css-menu-button-size);
        height: var(--css-menu-button-size);
        z-index: 2;
        transition: all var(--nav-animation-time) linear;
    }

    .css-menu-button {
        transition: all var(--nav-animation-time) linear;
    }

    /* Checkbox Movement */
    .nav-checkbox:checked,
    .nav-checkbox:checked~.css-menu-button {
        transform: translateX(calc(60vw - var(--css-menu-button-size) - 1.875rem));
    }

    .nav-checkbox:checked~.css-menu-button {
        background: rgba(0, 0, 0, 0);
        border: 0px;
    }

    /* No transition effect when nav menu is closed */
    .nav-checkbox:not(:checked),
    .nav-checkbox:not(:checked)~.css-menu-button {
        transform: translateX(0);
        transition: none;
    }

    /* Nav Side Bar Movement */
    .nav-checkbox:checked~nav {
        display: flex;
        animation: var(--nav-animation-time) linear nav-ani forwards;
    }

    .fading-bar-nav {
        width: 50%;
        padding: 1.25rem 0.9rem;
        border-radius: 1rem;
        background-image: linear-gradient(to right, var(--color-medium) 10%, var(--color-dark));
    }

    @keyframes nav-ani {
        from {
            width: var(--css-menu-button-size);
            height: var(--css-menu-button-size);
            opacity: 0;
        }

        to {
            width: 60vw;
            height: 100vh;
            opacity: 100%;
        }
    }
}