/* --- NAVIGATION BAR --- */

:root {
    --nav-animation-time: 500ms;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-container nav {
    background-color: var(--nav-color);
}

.nav-container ul {
    display: flex;
    list-style: none;
}

.nav-container nav ul li a {
    text-decoration-line: none;
    color: var(--nav-text-color);
    font-size: 13px;
    font-weight: bold;
}

/* --- DESKTOPS ONLY --- */
@media screen and (width >=600px) {
    .nav-container {
        width: 100vw;
    }

    .nav-checkbox,
    .css-menu-button {
        display: none;
    }

    .nav-container nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        transition: all var(--nav-animation-time) ease;
    }

    .nav-container:hover nav {
        box-shadow: 0 5px 8px var(--shadow-color);
    }

    .nav-container nav ul {
        justify-content: flex-end;
    }

    .nav-container nav ul li {
        margin: 15px 30px;
    }
}

/* --- PHONES/TABLETS ONLY --- */
@media screen and (width < 600px) {

    .nav-checkbox,
    .css-menu-button {
        margin: 10px;
    }

    .nav-container nav {
        display: none;
        width: var(--css-menu-button-size);
        height: var(--css-menu-button-size);
        border-top-right-radius: 30px;
        filter: drop-shadow(10px 0px 5px var(--shadow-color));
    }

    .nav-container nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .nav-container nav ul li {
        margin: 10px 0 15px 0;
    }

    /* --- NAVIGATION CHECKBOX BUTTON --- */
    .nav-checkbox {
        position: fixed;
        appearance: none;
        width: var(--css-menu-button-size);
        height: var(--css-menu-button-size);
        z-index: 2;
        transition: all var(--nav-animation-time) linear;
    }

    .css-menu-button {
        transition: all var(--nav-animation-time) linear;
    }

    /* Checkbox Movement */
    .nav-checkbox:checked,
    .nav-checkbox:checked~.css-menu-button {
        transform: translateX(calc(60vw - var(--css-menu-button-size) - 30px));
    }

    .nav-checkbox:checked~.css-menu-button {
        background: rgba(0, 0, 0, 0);
        border: 0px;
    }

    /* No transition effect when nav menu is closed */
    .nav-checkbox:not(:checked),
    .nav-checkbox:not(:checked)~.css-menu-button {
        transform: translateX(0);
        transition: none;
    }

    /* Nav Side Bar Movement */
    .nav-checkbox:checked~nav {
        display: flex;
        animation: 500ms linear nav-ani forwards;
    }

    @keyframes nav-ani {
        from {
            width: 50px;
            height: 50px;
            opacity: 0;
        }

        to {
            width: 60vw;
            height: 100vh;
            opacity: 100%;
        }
    }
}