/* --- NAVIGATION BAR --- */

:root {
    --nav-color: var(--color-medium);
    --nav-text-color: var(--color-light);
    --nav-underline-color: white;
    --nav-animation-time: 500ms;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-container nav {
    background-color: var(--nav-color);
}

.nav-container ul {
    display: flex;
    list-style: none;
}

.nav-container nav ul li a {
    position: relative;
    text-decoration-line: none;
    color: var(--nav-text-color);
    font-size: 0.813rem;
    font-weight: bold;
}

/* --- DESKTOPS ONLY --- */
@media screen and (width >=600px) {
    .nav-container {
        width: 100vw;
    }

    .nav-checkbox,
    .css-menu-button {
        display: none;
    }

    .nav-container nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        align-items: center;
        height: 3.75rem;
        transition: all var(--nav-animation-time) ease;
    }

    .nav-container:hover nav {
        box-shadow: 0 0.313rem 0.5rem var(--shadow-color);
    }

    .nav-container nav ul {
        justify-content: flex-end;
    }

    .nav-container nav ul li {
        margin: 0.938rem 1.875rem;
    }

    /* Selection Underlining */
    .nav-container nav ul li a::after {
        content: '';
        position: absolute;
        bottom: -0.6rem;
        left: 50%;
        width: 0%;
        height: 10%;
        background-image: linear-gradient(to right, var(--color-medium), var(--nav-underline-color), var(--color-medium));
        transition: all 250ms linear;
    }
    
    .nav-container nav ul li a:hover::after {
        width: 100%;
        left: 0%;
    }

    .nav-container nav ul li a.active::after {
        width: 100%;
        left: 0%;
    }
}

/* --- PHONES/TABLETS ONLY --- */
@media screen and (width < 600px) {

    .nav-checkbox,
    .css-menu-button {
        margin: 0.625rem;
    }

    .nav-container nav {
        display: none;
        width: var(--css-menu-button-size);
        height: var(--css-menu-button-size);
        border-top-right-radius: 1.875rem;
        filter: drop-shadow(0.625rem 0px 0.313rem var(--shadow-color));
    }

    .nav-container nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 2.5rem;
    }

    .nav-container nav ul li {
        margin: 0.625rem 0 0.938rem 0;
    }

    /* --- NAVIGATION CHECKBOX BUTTON --- */
    .nav-checkbox {
        position: fixed;
        appearance: none;
        width: var(--css-menu-button-size);
        height: var(--css-menu-button-size);
        z-index: 2;
        transition: all var(--nav-animation-time) linear;
    }

    .css-menu-button {
        transition: all var(--nav-animation-time) linear;
    }

    /* Checkbox Movement */
    .nav-checkbox:checked,
    .nav-checkbox:checked~.css-menu-button {
        transform: translateX(calc(60vw - var(--css-menu-button-size) - 1.875rem));
    }

    .nav-checkbox:checked~.css-menu-button {
        background: rgba(0, 0, 0, 0);
        border: 0px;
    }

    /* No transition effect when nav menu is closed */
    .nav-checkbox:not(:checked),
    .nav-checkbox:not(:checked)~.css-menu-button {
        transform: translateX(0);
        transition: none;
    }

    /* Nav Side Bar Movement */
    .nav-checkbox:checked~nav {
        display: flex;
        animation: 500ms linear nav-ani forwards;
    }

    @keyframes nav-ani {
        from {
            width: 3.125rem;
            height: 3.125rem;
            opacity: 0;
        }

        to {
            width: 60vw;
            height: 100vh;
            opacity: 100%;
        }
    }
}