/* -webkit- Chromes & Safari
    -moz- Firefox
    -ms- Internet Explorer
    -o- Opera
*/

@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

/* --- RESET VALUES --- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Press Start 2P', "Sans Serif", "Calibri";
    vertical-align: baseline;
}

body {
    width: 100%;
    height: 100svh;
    background: var(--body-color);
    color: var(--text-color);
}

.content {
    min-height: 100svh;
    margin: 1.25rem 0 3.125rem 0;
}

h1 {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

h2 {
    font-size: 1rem;
    margin: 0 1.56rem 1rem 0.5rem;
}

h3 {
    font-size: 0.9rem;
}

p {
    font-size: 0.625rem;
    text-align: center;
    line-height: 1.25rem;
    margin: 1.875rem 3.125rem;
}

.fading-bar {
    width: 50%;
    padding: 1.25rem 0.938rem;
    border-radius: 0.625rem;
    background-image: linear-gradient(to right, var(--color-dark), var(--color-medium) 10%, var(--color-dark));
}

hr {
    width: 80%;
    border: 1px solid var(--shadow-color);
}

/* Desktops only */
@media screen and (min-width: 600px) {
    h2 {
        font-size: 1.25rem;
        margin-left: 1.56rem;
    }

    .content {
        margin-top: 6.25rem;
    }
}