:root {
    /* Palette */
    --color-dark: #09000e;
    --color-medium: #380424;
    --color-light: white;

    /* Page */
    --desktop-size: 600px;
    --body-color: var(--color-dark);
    --text-color: var(--color-light);
    --shadow-color: #58163d;

    /* Navigation Bar */
    --nav-color: var(--color-medium);
    --nav-text-color: var(--color-light);

    /* Footer */
    --footer-color: var(--color-medium);
    --footer-text-color: var(--color-light);
}